# Applies to MariaDB/MySQL server daemon

[mysqld]

# Bind address for MariaDB
# 0.0.0.0 allows connections from any network interface
# -----------------------------
bind-address = 0.0.0.0

# MariaDB port 
# -----------------------------
port = 3306
